@import "variables";
.btn{
  border-radius: 30px;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.no-round{
    border-radius: 0;
  }
  &.round-1{
    border-radius: 4px;
  }
  &.btn-default{

    background: #fff;
    color: #1b1e21;
  }

  &.btn-shadow{
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14);
  }

  &.btn-primary{
    background: $primary-color-tow;
    border-color:  $primary-color-tow;
    color: #fff;
    font-size: $typography-paragraph-size -2;
    text-transform: capitalize;
  }

  &.btn-book-now{
    background: $primary-color-three;
    border-radius: 4px;
    color: #fff;
  }
}